#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q  &kp W  &kp E  &kp R                    &kp T        &mt LEFT_WIN ESCAPE  &kp DELETE             &kp Y  &kp U  &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &lt 3 F                  &lt 2 G      &kp TAB              &mt LEFT_ALT QUESTION  &kp H  &kp J  &kp K      &lt 4 L     &kp MINUS
&kp Z  &kp X  &kp C  &kp V                    &kp B        &mt LCTRL CAPSLOCK   &kp EXCLAMATION        &kp N  &kp M  &kp COMMA  &kp PERIOD  &lt 1 SLASH
                     &mt LEFT_SHIFT CAPSLOCK  &lt 1 SPACE  &kp BACKSPACE        &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp LC(LS(T))  &kp LC(W)      &kp LC(T)  &kp LC(LS(TAB))          &kp LC(TAB)    &none          &none      &kp LC(C)      &kp LA(LEFT)  &mkp MCLK  &kp LA(RIGHT)  &kp LC(V)
&kp LC(A)      &kp LC(S)      &none      &kp LEFT_SHIFT           &kp LCTRL      &none          &none      &kp LC(X)      &mkp LCLK     &kp UP     &mkp RCLK      &kp LC(LS(V))
&kp LC(Z)      &kp LC(LS(Z))  &none      &kp LC(MINUS)            &kp LC(EQUAL)  &none          &none      &kp LG(LS(S))  &kp LEFT      &kp DOWN   &kp RIGHT      &kp LG(V)
                                         &mt LEFT_SHIFT CAPSLOCK  &kp SPACE      &kp BACKSPACE  &kp ENTER
            >;
        };

        layer_2 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3             &bt BT_SEL 4  &bt BT_CLR     &kp LS(N9)        &kp LS(N0)         &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)   &kp GRAVE
&none         &none         &none         &kp LEFT_SHIFT           &none         &none          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)   &kp BACKSLASH
&none         &none         &none         &none                    &none         &none          &kp SEMICOLON     &kp SQT            &kp LS(NUMBER_7)  &kp LS(GRAVE)     &kp LS(BACKSLASH)  &kp SLASH
                                          &mt LEFT_SHIFT CAPSLOCK  &kp SPACE     &kp BACKSPACE  &kp ENTER
            >;
        };

        layer_3 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4                   &kp F5     &kp F6         &none         &kp EQUAL     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0
&none   &none   &none   &none                    &none      &none          &none         &kp PLUS      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp F7  &kp F8  &kp F9  &kp F10                  &kp F11    &kp F12        &none         &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH
                        &mt LEFT_SHIFT CAPSLOCK  &kp SPACE  &kp BACKSPACE  &kp NUMBER_0
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans          &trans  &trans  &trans  &trans          &trans  &trans
&trans  &trans  &trans  &trans  &kp LEFT_SHIFT  &trans          &trans  &trans  &trans  &kp LEFT_SHIFT  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans          &trans  &trans  &trans  &trans          &trans  &trans
                        &trans  &trans          &kp LEFT_SHIFT  &trans
            >;

            sensor-bindings =
                <&mouse_scrl SCRL_DOWN SCRL_UP>,
                <&mouse_scrl SCRL_UP SCRL_DOWN>;
        };
    };
};
